<footer class="text-center py-3 mt-4 border-top">
  Desenvolvido com <span style="color:red;">&hearts;</span> por <a href="https://moacirdavidag.com">Moacir David</a> - Dev. Full Stack no <a href="https://www.poder360.com.br/">Poder360</a>
</footer>